.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.no-padding {
    padding: 0px !important;
}
ion-col {
	&[width-20] {
	flex: 0 0 20%;
	max-width: 20%;
	}
	
	&[width-40] {
	flex: 0 0 40%;
	max-width: 40%;
	}
	}