<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons star>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
      
          <ion-title text-center>Incidentes</ion-title>

      <ion-buttons end>
        <button ion-button icon-only (click)='busqueda()'>
        <!-- <button ion-button icon-only (click)='onDismiss()'>-->
          <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button icon-only>
            <!-- <button ion-button icon-only (click)='onDismiss()'>-->
              <ion-icon name=""></ion-icon>
            </button>
        <button ion-button icon-only (click)='agregar()'>
            <!-- <button ion-button icon-only (click)='onDismiss()'>-->
              <ion-icon name="add"></ion-icon>
            </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
    <!--
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="getItems()"></ion-searchbar>
      
      
      <div>
          <ion-segment [(ngModel)]="testing">
            <ion-segment-button value="book">book</ion-segment-button>
            <ion-segment-button value="table">table</ion-segment-button>
          </ion-segment>
        </div>
      
      -->
      <ion-content>
          <ion-list>
            <ion-item *ngFor="let d of data" (click)="detalle(d)">
              <div>
                <ion-grid>
                  <ion-row>
                    <ion-col width-20>
                        <ion-img width="50" height="50"  (click)="seleccionCelda()" src="../../assets/static/img/logo.png"></ion-img>                        
                    </ion-col>
                    <ion-col width-40>
                      <p class="alignleft">{{d.numeroIncidente}}</p>
                      <br>
                      <p class="alignleft">{{d.numeroTicket}}</p>
                    </ion-col>
                    <ion-col width-40>
                        <p class="alignright">{{d.date}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
             
              <div *ngIf="d.showDetails" align="right">
                <ion-grid>
                      <ion-row text-center>
                        <ion-col>
                         
                          <p class="alignleft">Solicitante</p>
                          <p class="alignleft">{{d.solicitante}}</p>
                          <p class="alignleft">Descripción</p>
                          <p class="alignleft">{{d.descripcion}}</p>
                          
                        </ion-col>
                        <ion-col>
                            <p class="alignleft">Usuario Final</p>
                            <p class="alignleft">{{d.usurioFinal}}</p>
                            <p class="alignleft">Fecha Apertura</p>
                            <p class="alignleft">{{d.fechaApertura}}</p>
                          </ion-col>
                          <ion-col>
                              <p class="alignleft">Categoria    </p>
                              <p class="alignleft">{{d.usurioFinal}}</p>
                              <p class="alignleft">Ultima Modificación</p>
                              <p class="alignleft">{{d.fechaApertura}}</p>
                          </ion-col>
                      </ion-row>
                </ion-grid>
              </div>
            </ion-item>
          </ion-list>
        </ion-content>

<!--
<ion-content>
 
    <ion-list>
      <button detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items">
        <ion-thumbnail item-start>
          <img src="http://placehold.it/100">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki • 1988</p>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            Hello people
        </expandable>
        <button ion-button clear item-end>View</button>
      </button>
    </ion-list>
 
</ion-content>

-->