.alignright {
	float: right;
}
.alignleft {
	float: left;
}

.listaAlarmas{
    margin-top: 20px;
}

.alarma{
    color:#ffffff  !important;
    text-align:center !important;
    height: 100px;
    background-color: rgba(70,70,70,.45);
    border-radius: 5px;
}

.fecha{
    width: calc(100% + 20px);
    margin: -10px 0px 0px -10px;
    background-color: #2f2f2f;
    padding: 5px 10px;
    text-align: right;
    font-size: 14pt;
    color: #bbb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.idDevice{

    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 15pt;
}

.labelFalla{
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    width: 50px;
    color: #bbb;
    font-size: 13pt;
    float:left;
    margin-right: 10px;
}

.falla{
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: calc(100% -60px);
    text-align: left;
    color: #d0021b;
}
.titleT .toolbar-title-md {
    color: black !important;

}

.barraIndicadora{
    background: linear-gradient(to right, #c5111a 0%, #ef9525 50%, #6ac925 100%);
    height:25px;
    border-radius:10px;
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);
    font-weight:bold;
    font-size:13pt;
}

.iconoLateral{
    width:25px;
    margin-bottom:-5px !important;
}

.saliendo{
  background: none;
}



.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: #ffffff;
  background-color: transparent;
}
