<!--
  Generated template for the NocPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left >
      <button navPop  class="saliendo">
          <span class="regreso"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></span>
      </button>
    </ion-buttons>

    <ion-buttons right>
            <button ion-button (click)="retorno()"> 
              <img class="iconoUsuarioLista" src="assets/static/img/iconoHome.png"/>
            </button> 
        </ion-buttons>

    <ion-title text-center><span class="tituloPagina">{{tipo}}</span></ion-title>
 </ion-navbar>

</ion-header>


<ion-content class="fondoOscuro" padding>
    <div>
      <ion-grid *ngFor="let item of arrayInformation" (click)=seleccion(item.nombre)>

        <div class="blackCardWithBorder contenedorGrid">
        <ion-row text-center>
            <ion-col col-12>
              <div><font size="4">{{item.nombre | uppercase}}</font></div>
            </ion-col>
        </ion-row>

        <ion-row>
        <ion-col col-2>
              <font size="1.5"></font>
          </ion-col>
          <ion-col col-10>
            <ion-grid>
                <ion-row>
            <ion-col col-4 text-center>
                <font size="1.5">VENCIDOS</font>
            </ion-col>
            <ion-col col-4 text-center>
                <font size="1.5">POR VENCER</font>
            </ion-col>
           <ion-col col-4 text-center>
                <font size="1.5">ABIERTOS</font>
            </ion-col>
          </ion-row>
        </ion-grid>
          </ion-col>
        </ion-row>

        <ion-row>
        <ion-col col-2>
              <div><img class="iconoLateral" src="assets/static/img/critica.png"><font size="1.5">CRÍTICA</font></div>
          </ion-col>
          <ion-col col-10>
            <ion-grid class="barraIndicadora">
                <ion-row>
            <ion-col col-4>
                <div><font>{{item.critica.vencidos}}</font></div>
            </ion-col>
            <ion-col col-4>
                <div><font>{{item.critica.xVencer}}</font></div>
            </ion-col>
           <ion-col col-4>
                <div><font>{{item.critica.abiertos}}</font></div>
            </ion-col>
          </ion-row>
        </ion-grid>
          </ion-col>
        </ion-row>


        <ion-row>
        <ion-col col-2>
              <div><img class="iconoLateral" src="assets/static/img/alta.png"><font size="1.5">ALTA</font></div>
          </ion-col>
          <ion-col col-10>
            <ion-grid class="barraIndicadora">
                <ion-row>
            <ion-col col-4 text-center>
                <div><font>{{item.alta.vencidos}}</font></div>
            </ion-col>
            <ion-col col-4 text-center>
                <div><font>{{item.alta.xVencer}}</font></div>
            </ion-col>
           <ion-col col-4 text-center>
                <div><font>{{item.alta.abiertos}}</font></div>
            </ion-col>
          </ion-row>
        </ion-grid>
          </ion-col>
        </ion-row>

        <ion-row>
        <ion-col col-2>
              <div><img class="iconoLateral" src="assets/static/img/media.png"><font size="1.5">MEDIA</font></div>
          </ion-col>
          <ion-col col-10>
            <ion-grid class="barraIndicadora">
                <ion-row>
            <ion-col col-4 text-center>
                <div><font>{{item.media.vencidos}}</font></div>
            </ion-col>
            <ion-col col-4 text-center>
                <div><font>{{item.media.xVencer}}</font></div>
            </ion-col>
           <ion-col col-4 text-center>
                <div><font>{{item.media.abiertos}}</font></div>
            </ion-col>
          </ion-row>
        </ion-grid>
          </ion-col>
        </ion-row>

          </div>

      </ion-grid>
    </div>

</ion-content>
