<ion-header>
  
  
</ion-header>


  <ion-content padding>
        <div class="text-center">
           


                <h5 style="text-align: center;">Cambiar Estado</h5>
                <ion-grid>
                    <ion-row>
                        <ion-col style="text-align: right;">
                            <ion-label color="primary" fixed class="fixme">Numero de Incidente</ion-label>                         
                        </ion-col>
                        <ion-col style="text-align: left;">
                            <ion-label color="danger">1234567</ion-label>  
                        </ion-col>
                    </ion-row>
                    <ion-row>
                            <ion-col style="text-align: right;">
                                <ion-label color="primary" fixed class="fixme">Estado Actual:</ion-label>                         
                            </ion-col>
                            <ion-col style="text-align: left;">
                                <ion-label color="danger">Abierto</ion-label>  
                            </ion-col>
                    </ion-row>

                 </ion-grid>

                 <ion-item>
                        <ion-label color="primary" fixed (click)=seleccionEstatus() class="fixme">Seleccione un estatus:</ion-label>
                    </ion-item>
               
    
                        <ion-item>
                            <ion-textarea rows="10" maxLength="500" [(ngModel)]="justificacion" required placeholder="Justificacion"></ion-textarea>
                        </ion-item>
    
         
                
                

        </div>
       
      
        <div>
                <ion-grid>
                        <ion-row text-center>
                          <ion-col><button ion-button color="danger" (click)=alta()>
                                Actualizar
                            </button></ion-col>
                          <ion-col><button ion-button color="danger" (click)=cancelar()>
                                Cancelar
                            </button></ion-col>
                        </ion-row>
                      </ion-grid>

            
            
        </div>  
   </ion-content>