<ion-header>
  
  
</ion-header>


<ion-content class="fondoOscuro" padding>
        <div class="text-center">
                <h5 class="tituloPanelUsuario">Edición de Usuario</h5>

                <ion-item no-lines class="campoUsuario">
                        <ion-label class="etiquetaPanelUsuario">Usuario: <span class="noEdicion">{{userNameUsuario}}</span></ion-label>
                    </ion-item>
                <ion-item no-lines class="campoUsuario">
                        <ion-label class="etiquetaPanelUsuario">Nombre: </ion-label>
                    <ion-input class="editaUsuario"  type="text" name="nombreUsuario" [(ngModel)]="nombreUsuario" required></ion-input>
                </ion-item>
                <ion-item no-lines class="campoUsuario">
                        <ion-label class="etiquetaPanelUsuario">Apellidos: </ion-label>
                    <ion-input class="editaUsuario"  type="text" name="apellidoUsuario" [(ngModel)]="apellidoUsuario" required></ion-input>
                </ion-item>
                
                
                <ion-item no-lines class="campoUsuario" *ngIf="updatePassword">
                        <ion-label floating>Password</ion-label>
                        <ion-input class="editaUsuario" [type]="passwordType"  [(ngModel)]="contraseniaUsuario"  clearOnEdit="false"></ion-input>
                        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                </ion-item>
        </div>
       
        
      
        <div>
                <ion-grid>
                        <ion-row text-center>
                          <ion-col><button class="botonGenerar" ion-button (click)=updatePass()>
                                Generar Nueva Contraseña
                            </button></ion-col>
                            
                        </ion-row>
                      </ion-grid>

            
            
        </div>  
      
        <div>
                <ion-grid>
                        <ion-row text-center>
                          <ion-col><button class="botonActualizar" ion-button (click)=actualizar()>
                                Actualizar
                            </button></ion-col>
                            
                            <ion-col><button class="botonCancelar" ion-button (click)=cancelar()>
                                    Cancelar
                                </button></ion-col>
                        </ion-row>
                      </ion-grid>

            
            
        </div> 
   </ion-content>