
<!--
<ion-tabs selectedIndex="1">
  <ion-tab [root]="tabInformes" tabTitle="Informes" tabIcon="home"></ion-tab>
  <ion-tab [root]="tabIncidentes" tabTitle="Incidentes" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tabDetalleinformes" tabTitle="Detalle Informes" tabIcon="contacts"></ion-tab>
</ion-tabs>


-->


<ion-tabs selectedIndex="0" color="tabColor">
  <!--<ion-tab *ngIf="!alarmas" [root]="tabAviso" tabTitle="Aviso Legal" tabIcon="albums"></ion-tab>-->
  <ion-tab *ngIf="alarmas" [root]="tabResume" tabTitle="Resumen" tabIcon="list-box"></ion-tab>
  <ion-tab *ngIf="alarmas" [root]="tabGeneric" [rootParams]="typeTabRouter" tabTitle="Routers" tabIcon="help-buoy"></ion-tab>
  <ion-tab *ngIf="alarmas" [root]="tabGeneric" [rootParams]="typeTabSwitch" tabTitle="Switches" tabIcon="barcode"></ion-tab>
  <ion-tab *ngIf="alarmas" [root]="tabGeneric" [rootParams]="typeTabColector" tabTitle="Colectores" tabIcon="desktop"></ion-tab>
  <ion-tab *ngIf="alarmas" [root]="tabGeneric" [rootParams]="typeTabOTL" tabTitle="OLTs" tabIcon="apps"></ion-tab>
</ion-tabs>