<ion-header>
    <ion-navbar>
      <ion-buttons left >
        <button (click)="saliendo()"  class="saliendo">
            <span class="regreso"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></span>
        </button>
      </ion-buttons>
      <ion-title text-center><span class="tituloPagina">{{nombre}}</span></ion-title>
    </ion-navbar>
  </ion-header>

<ion-content  class="fondoOscuro" padding>

    <ion-list *ngFor="let item of items">


      <button class="blackCard botonSinBorde" detail-none (click)="expandItem(item)" ion-item >
        <ion-row class="panelAcordeon">
            <ion-col col-9>
              <h2 class="tituloAcordeon">{{item.titulo}}</h2>
            </ion-col>

            <ion-col *ngIf="item.total > 0" class="indicadorLateralAlarma" col-3 text-center>
                <h2 class="indicadorText">{{item.total}}</h2>
            </ion-col>
            <ion-col *ngIf="item.total == 0" class="indicadorLateralOK" col-3 text-center>
                <h2 class="indicadorText">{{item.total}}</h2>
            </ion-col>



        </ion-row>
        <!--expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded"-->
        <expandable [expanded]="item.expanded" *ngFor="let item2 of item.listaDispositivo">
          <ion-row class="expandible" *ngIf="item2.cantidad == 0">
            <ion-col col-9>
              <h4 class="nombreDisp nombreOK">{{item2.nombre}}</h4>
            </ion-col>
            <ion-col col-3 text-right>
              <h4 class="cantidadDisp cantidadOK">{{item2.cantidad}}</h4>
            </ion-col>
          </ion-row>
          <ion-row class="expandible" *ngIf="item2.cantidad > 0">
            <ion-col col-9>
              <h4 class="nombreDisp nombreAlarma">{{item2.nombre}}</h4>
            </ion-col>
            <ion-col col-3 text-right>
              <h4 class="cantidadDisp cantidadAlarma">{{item2.cantidad}}</h4>
            </ion-col>
          </ion-row>
        </expandable>
      </button>
    </ion-list>

</ion-content>
