<ion-header>
    <ion-toolbar color='primary'>
      <ion-buttons start>
        <button ion-button icon-only (click)='cancelar()'>
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-searchbar (input)="onSearchInput()"></ion-searchbar>
      <ion-buttons end>
        <button ion-button icon-only (click)='agregar()'>
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div>
          <ion-segment [(ngModel)]="opciones">
            <ion-segment-button ngSelected="selected" value="todos">Todos</ion-segment-button>
            <ion-segment-button value="curso">En Curso</ion-segment-button>
            <ion-segment-button value="cerrado">Cerrado</ion-segment-button>
            <ion-segment-button value="resulto">Resuelto</ion-segment-button>
          </ion-segment>
        </div>
  </ion-content>