.tabs-md-tabColor .tabbar {
    background-color: rgba(255,255,255,0) !important;
}

tabColor .tab-button[aria-selected=true], .tabs-md-tabColor .tab-button[aria-selected=true] .tab-button-icon {
    color: #C11019 !important;
}

.tabs-md-tabColor .tab-button, .tabs-md-tabColor .tab-button-icon {
    color: rgb(255, 255, 255) !important;
}


.tabs-md-tabColor .tab-button[aria-selected=true], .tabs-md-tabColor[aria-selected=true] .tab-button-icon[aria-selected=true] {
    color: #C11019 !important;
}