

  <ion-header>

    <ion-navbar>
  
  
  
      <ion-buttons left >
        <button (click)="saliendo()"  class="saliendo">
            <span class="regreso"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></span>
        </button>
      </ion-buttons>
  
  
      <ion-title text-center class="tituloPagina">
        <span class="tituloPagina">{{device.nombre}}</span>
      </ion-title>
  
      <ion-buttons right>
          <button ion-button (click)="home()"> 
              <img class="iconoUsuarioLista" src="assets/static/img/iconoHome.png"/>
          </button> 
      </ion-buttons>
  
  
    </ion-navbar>
  
  </ion-header>


  <ion-content class="fondoOscuro" hide-tabs padding="true" style='color:#ffffff;'>
   <br>
   <br>
    <div>
    <ion-grid>

      <ion-row text-center>
        <ion-col col-12>
          <div><font size="4">Disponibilidad</font></div>
        </ion-col>


      </ion-row>
      <ion-row text-center style="height: 220px;">
        <ion-col col-12>
          <div id="{{grafica1.id}}"></div>
        </ion-col>
      </ion-row>

      <ion-row text-center>
        <ion-col>
          <div><font size="4">Total Equipos {{device.total}}</font></div>
        </ion-col>
      </ion-row>

      <ion-row><br></ion-row>

        <ion-row text-center>
          <ion-col col-4>
            <div class="blackCard">
                <div><font size="2">Down</font></div>
                <div *ngIf="device.down == 0" class="dato" style="color: #7ED321;"><font size="4">{{device.down}}</font></div>
                <div *ngIf="device.down > 0" class="dato" style="color: #C11019;"><font size="4">{{device.down}}</font></div>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="blackCard">
              <div><font size="2">Falla Gestión</font></div>
                <div *ngIf="device.fallaGestion == 0" class="dato" style="color: #7ED321;"><font size="4">{{device.fallaGestion}}</font></div>
                <div *ngIf="device.fallaGestion > 0" class="dato" style="color: #C11019;"><font size="4">{{device.fallaGestion}}</font></div>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="blackCard">
              <div><font size="2">Falla Óptica</font></div>
                <div *ngIf="device.fallaOptica == 0" class="dato" style="color: #7ED321;"><font size="4">{{device.fallaOptica}}</font></div>
                <div *ngIf="device.fallaOptica > 0" class="dato" style="color: #C11019;"><font size="4">{{device.fallaOptica}}</font></div>
              </div>
          </ion-col>
        </ion-row>


        <ion-row><br></ion-row>
        <ion-row text-center>
          <ion-col col-4>
            <div class="blackCard">
                <div><font size="2">Voltaje</font></div>
                <div *ngIf="device.voltaje == 0" class="dato" style="color: #7ED321;"><font size="4">{{device.voltaje}}</font></div>
                <div *ngIf="device.voltaje > 0" class="dato" style="color: #C11019;"><font size="4">{{device.voltaje}}</font></div>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="blackCard">
              <div><font size="2">Temperatura</font></div>
                <div *ngIf="device.temperatura == 0" class="dato" style="color: #7ED321;"><font size="4">{{device.temperatura}}</font></div>
                <div *ngIf="device.temperatura > 0" class="dato" style="color: #C11019;"><font size="4">{{device.temperatura}}</font></div>
              </div>
          </ion-col>
          <ion-col col-4>
            <div class="blackCard">
              <div><font size="2">Ventilador</font></div>
                <div *ngIf="device.ventilador == 0" class="dato" style="color: #7ED321;"><font size="4">{{device.ventilador}}</font></div>
                <div *ngIf="device.ventilador > 0" class="dato" style="color: #C11019;"><font size="4">{{device.ventilador}}</font></div>
              </div>
          </ion-col>
        </ion-row>


        <ion-row text-center>
         <div class="blackCard2">
             <ion-col col-6>
                <div><font>CPU</font></div>
                <div class="graficaTerca" id="{{grafica2.id}}"></div>

                   <div><font>Fuera de Rango <br>de CPU</font></div>
                <div *ngIf="device.cpu == 0" class="dato" style="color: #7ED321;"><font>{{device.cpu}}</font></div>
                  <div *ngIf="device.cpu > 0" class="dato" style="color: #C11019;"><font>{{device.cpu}}</font></div>
              </ion-col>
          </div>
          <div class="blackCard2">
              <ion-col col-6>
                  <div><font size="4">Memoria</font></div>
                <div class="graficaTerca" id="{{grafica3.id}}"></div>

                  <div><font>Fuera de Rango <br>de Memoria</font></div>
                  <div *ngIf="device.memoria == 0" class="dato" style="color: #7ED321;"><font>{{device.memoria}}</font></div>
                  <div *ngIf="device.memoria > 0" class="dato" style="color: #C11019;"><font>{{device.memoria}}</font></div>
              </ion-col>
        </div>
        </ion-row>


        <ion-row text-center>
          <ion-col col-12>
            <div><button (click)="abrirListaAlarmas()" class="buttonAlarma">LISTA DE ALARMAS</button></div>
          </ion-col>
        </ion-row>

      </ion-grid>
</div>


  </ion-content>
