.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.no-padding {
    padding: 0px !important;
}
.highcharts-credits {
  font-size: 9px
}

.hideChart{

  margin-top: -32px;
  background-color :white
}


.hideChartBack{
  background-color: #181818;
}

.buttonAlarma{
  background-color:#0E0E0E;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 5px;
    width: 80%;
    height: 30px;
}

.graficaMedia{
    width: 220px;
    margin-left: 20%;
}

ion-col {
	&[width-20] {
	flex: 0 0 20%;
	max-width: 20%;
	}

	&[width-40] {
	flex: 0 0 40%;
	max-width: 40%;
	}
  }
  .saliendo{
    background: none;
  }
  .tituloLight{
    color: black !important;
  }
