.getstart {

  background-image: url('../assets/static/img/background/fondoClaro.jpg');
  // background: url('../../img/getstart.png');
  background-repeat: no-repeat;
  background-size:cover;
  }
  .login {

    background-color: #b00732
    }

    $segment-button-md-height:55px;
    .imageIcon{
      background: transparent !important;

      width:50px;
      height:50px;
  }

  .monitoreoSelectores{
    padding:0px !important;
  }

  .monitoreoSelector{
    background: linear-gradient(to bottom, #212121 0%,#1d1d1d 100%);
    color:#fff;
    height:58px;
    margin:0px -16px 2px -16px !important;
  }

  .colIconMonitoreo{
    background: linear-gradient(to bottom, #4b4b4b 0%,#222222 100%);
    height:58px;
    font-size:25pt;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  .textoSelector{
    padding-left:15px;
    padding-right:15px;
    font-size:0.95em !important;
  }

  .subtAlarma{
    font-size:0.8em;
    line-height:1em;
    padding-top:2px;
    font-weight:bold;
  }

  .alarmaTotal{
    margin-top:-10px;
    font-size:1.9em;
    font-weight:bold;
  }

  .alarmaTotalSub{
    color:#ff0000 !important;
    margin-top:5px !important;
  }

  .indicadorEstado{
    height:58px;
  }

  .indicadorEstadoMin{
    height:45px;
  }

  .indicadorRojo{
    background-image: radial-gradient(ellipse farthest-corner at 5px 5px , #ca0b15 0%, #260001 100%);
  }

  .subIndicadorRojo{
    background: linear-gradient(to bottom, rgba(5,5,5,1) 0%, rgba(25,25,25,1) 50%);
  }

  .indicadorVerde{
    background-image: radial-gradient(ellipse farthest-corner at 5px 5px , #68c825 0%, #1a3203 100%);
  }

  .indicadorInactivo{
    background-image: radial-gradient(ellipse farthest-corner at 5px 5px , #333 0%, #222 100%);
  }


  .logoMonitoreo{
    background: transparent !important;
    margin:0px;
    width:200px;
    height:84px;
}

ion-content.has-refresher > .scroll-content {
  background-color: transparent;
}



.refresher-refreshing-text{
  color:#fff;
  fill: #ffff;

}

.spinner-circles circle,
.spinner-bubbles circle,
.spinner-dots circle {
  fill: #ffff !important;
}


.monitoreoSelectorNOCCare{
  background: #101010;
  color:#fff;
  height:45px;
  margin:0px -16px 2px -16px !important;
}
