
<ion-content class="fondoOscuro" padding>

<!--

  <ion-refresher (ionRefresh)="refreshInformation($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

-->

  <div text-center>
    <ion-img class="logoMonitoreo" src="assets/static/img/logoBlanco.png"></ion-img>
  </div>


  <div text-left>
    <button class="botonSeccion" ion-button>
      <div>
        <i class="icon-tickets"></i>
        <label>Tickets</label>
      </div>
    </button>
  </div>


  <ion-grid class="monitoreoSelectores">

    <ion-row class="monitoreoSelector" (click)="seleccionTicket(0)">

        <ion-col class="colIconMonitoreo" col-2 text-center>
            <i class="icon-NOC"></i>
        </ion-col>

        <ion-col class="textoSelector" col-6 text-left>
            <div><font>NOC</font></div>
          </ion-col>

        <ion-col class="indicadorEstado indicadorRojo" col-4 text-center>
            <div>
              <h3 class="subtAlarma">TICKETS VENCIDOS</h3>
              <h2 class="alarmaTotal">{{sumaNoc}}</h2>
            </div>
        </ion-col>

      </ion-row>


      <!--TEST-->
      <div *ngIf="bandera">          
        <ion-row class="monitoreoSelectorNOCCare"  *ngFor="let item of arrayNoc" (click)="seleccionTicketNocCare(item,0)">
          <ion-col class=" colorNOCCare" col-8 text-center>
            <div><font>{{item.data.nombre | uppercase}}</font></div>
          </ion-col>
          <ion-col class="indicadorEstadoMin subIndicadorRojo" col-4 text-center>
            <div>
              <h2 class="alarmaTotalSub">{{item.suma}}</h2>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <!--TEST-->



      <ion-row class="monitoreoSelector" (click)="seleccionTicket(1)">

        <ion-col class="colIconMonitoreo" col-2 text-center>
            <i class="icon-CARE"></i>
        </ion-col>

        <ion-col class="textoSelector" col-6 text-left>
            <div><font>CARE</font></div>
          </ion-col>

        <ion-col class="indicadorEstado indicadorRojo" col-4 text-center>
            <div>
              <h3 class="subtAlarma">TICKETS VENCIDOS</h3>
              <h2 class="alarmaTotal">{{sumaCare}}</h2>
            </div>
        </ion-col>

      </ion-row>

      
        <!--TEST-->
        <div *ngIf="bandera2">          
          <ion-row class="monitoreoSelectorNOCCare "  *ngFor="let item of arrayCare" (click)="seleccionTicketNocCare(item,1)">
            <ion-col class=" colorNOCCare" col-8 text-center>
              <div><font>{{item.data.nombre | uppercase}}</font></div>
            </ion-col>
            <ion-col class="indicadorEstadoMin subIndicadorRojo" col-4 text-center>
              <div>
                <h2 class="alarmaTotalSub">{{item.suma}}</h2>
              </div>
            </ion-col>
          </ion-row>
        </div>
        <!--TEST-->

    </ion-grid>
    <br>
    <div text-left>
      <button class="botonSeccion" ion-button>
        <div>
          <i class="icon-monitoreo"></i>
          <label>Monitoreo</label>
        </div>
      </button>
    </div>
    <ion-grid class="monitoreoSelectores">

        <ion-row class="monitoreoSelector" (click)="seleccionRed()">

          <ion-col class="colIconMonitoreo" col-2 text-center>
            <i class="icon-salud"></i>
          </ion-col>

          <ion-col class="textoSelector" col-6 text-left>
              <div><font>SALUD DE LA RED</font></div>
            </ion-col>


          <ion-col *ngIf="alarmaTotalSalud > 0" class="indicadorEstado indicadorRojo" col-4 text-center>
              <div>
              <h3 class="subtAlarma">ALARMAS TOTALES</h3>
              <h2 class="alarmaTotal">{{alarmaTotalSalud}}</h2>
            </div>
          </ion-col>
          <ion-col *ngIf="alarmaTotalSalud == 0" class="indicadorEstado indicadorVerde" col-4 text-center>
              <div>
              <h3 class="subtAlarma">ALARMAS TOTALES</h3>
              <h2 class="alarmaTotal">{{alarmaTotalSalud}}</h2>
            </div>
          </ion-col>

        </ion-row>



          <ion-row class="monitoreoSelector" (click)="seleccionInfraestructura()">
            <ion-col class="colIconMonitoreo" col-2 text-center>
                <i class="icon-infraestructura"></i>
            </ion-col>
            <ion-col class="textoSelector" col-6 text-left>
                <div><font class="">INFRAESTRUCTURA</font></div>
              </ion-col>

              <ion-col *ngIf="alarmaTotalInfraestructura > 0" class="indicadorEstado indicadorRojo indicadorRojo" col-4 text-center>
                <div>
              <h3 class="subtAlarma">ALARMAS TOTALES</h3>
              <h2 class="alarmaTotal">{{alarmaTotalInfraestructura}}</h2>
            </div>
            </ion-col>
            <ion-col *ngIf="alarmaTotalInfraestructura == 0" class="indicadorEstado indicadorVerde indicadorVerde" col-4 text-center>
              <div>
              <h3 class="subtAlarma">ALARMAS TOTALES</h3>
              <h2 class="alarmaTotal">{{alarmaTotalInfraestructura}}</h2>
            </div>
            </ion-col>


          </ion-row>

          <ion-row class="monitoreoSelector">

            <ion-col class="colIconMonitoreo" col-2 text-center>
                <i class="icon-performance inactivo"></i>
            </ion-col>

            <ion-col class="textoSelector" col-6 text-left>
                <div><font class="inactivo">UTILIZACIÓN</font></div>
              </ion-col>

            <ion-col class="indicadorEstado indicadorInactivo" col-4 text-center>
                <div>
              <h3 class="subtAlarma inactivo">ALARMAS TOTALES</h3>
              <h2 class="alarmaTotal inactivo">0</h2>
            </div>
            </ion-col>

          </ion-row>

      </ion-grid>


</ion-content>
