  
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left >
      <button navPop  class="saliendo">
          <span class="regreso"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></span>
      </button>
    </ion-buttons>

 
    <ion-buttons right>
        <button ion-button (click)="creaUsuario()"> 
            <img class="iconoUsuarioLista" src="assets/static/img/iconoPlus.png"/>
        </button> 
    </ion-buttons>


    <ion-title text-center><span class="tituloPagina">Usuarios</span></ion-title>
 </ion-navbar>

</ion-header>

  <ion-content class="fondoOscuro" padding>
    
  <ion-searchbar placeholder="Buscar Usuario" class="barraBusqueda" [(ngModel)]="nombreUsuario" (ionInput)="busquedaUsuarios()"></ion-searchbar>
    
   <ion-list no-lines class="contenedorTarjetasOscuras">
        <ion-item-sliding class="contenedorSliding"  *ngFor="let item of listaUsuarios">
           
            <ion-item class="tarjetaOscura" *ngIf="item.user.id !== idUserLogin">
                
            
                <ion-grid>
                  <ion-row>
                  <ion-col col-9>
                    <ion-row>
                      <div class="usernameLabel">
                      {{item.user.username}}
                      </div>
                    </ion-row>
                    <ion-row>
                      <div class="nameLabel">{{item.user.first_name}}  {{item.user.last_name}}</div>
                    </ion-row>
                  </ion-col>
                  <ion-col class="estatusActivacion" *ngIf="item.statusUser == 'S001'" col-3 text-right>
                    <div class="usuarioInactivo"></div>
                    <div class="etiquetaActivacion">Inactivo</div>
                  </ion-col>
                  <ion-col class="estatusActivacion" *ngIf="item.statusUser == 'S002'" col-3 text-right>
                    <div class="usuarioActivo"></div>
                    <div class="etiquetaActivacion">Activo</div>
                  </ion-col>
                </ion-row>
                </ion-grid>
        
           
            </ion-item>
            <ion-item-options class="opcionesUsuario" side="right">
                    <button class="botonEditar" (click)="editarUsuario(item.user.id)" ion-button>Editar</button>
                    <button class="botonEliminar" (click)="eliminarUsuario(item.user.id)" ion-button>Eliminar</button> 
            </ion-item-options>
        </ion-item-sliding>
   </ion-list>
    
   </ion-content>