.alignright {
	float: right;
}
.alignleft {
	float: left;
}

.listaAlarmas{
    margin-top: 20px;
}

.alarma{
    color:#ffffff  !important;
    text-align:center !important;
    height: 100px;
    background-color: rgba(70,70,70,.45);
    border-radius: 5px;
}

.fecha{
    width: calc(100% + 20px);
    margin: -10px 0px 0px -10px;
    background-color: #2f2f2f;
    padding: 5px 10px;
    text-align: right;
    font-size: 14pt;
    color: #bbb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.idDevice{
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 15pt;
}

.labelFalla{
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    width: 50px;
    color: #bbb;
    font-size: 13pt;
    float:left;
    margin-right: 10px;
}

.falla{
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: calc(100% -60px);
    text-align: left;
    color: #d0021b;
}

.textoPrioridad{
    margin-left:10px;
}

.subtitulosColores{
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sinPadding{
    padding:0px;
}

.tituloColores{
    font-size:0.8em;
    font-weight:600;
    padding-left:0px;
    padding-right:0px;
    height:30px;
    line-height:1em;
}

.tituloNegro{
    background-color:#000;
}

.tituloRojo{
    background-color:#c5111a;
}

.tituloAmarillo{
    background-color:#d37a18;
}

.tituloVerde{
    background-color:#549b1e;
}


.categorias{
    text-align:left;
    height:30px;
}

.datosCategorias{
    height:30px;
}

.textoCategorias{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size:10pt !important;
}

.textoDatosCategoria{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size:10pt !important;
    font-weight:bold !important;
}



