<!--
  Generated template for the ViewFrontOfficePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button navPop class="saliendo">
                <span class="regreso">
                    <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
                </span>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button (click)="retorno()">
                <img class="iconoUsuarioLista" src="assets/static/img/iconoHome.png"/>
            </button>
        </ion-buttons>
        <ion-title text-center>
            <span class="tituloPagina">{{tipo | uppercase}}</span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="fondoOscuro" padding>
    <div>
        <ion-grid *ngFor="let item of arrayInformation">

            <div class="blackCard contenedorGrid">
                <ion-row class="panelTituloInferiorNoMargen" text-center>
                    <ion-col col-12 *ngIf="item.nivel == 'crítica'">
                        <div>
                            <img class="iconoLateral" src="assets/static/img/critica.png">
                            <font class="textoPrioridad" size="4">{{item.nivel | uppercase}}</font>
                        </div>
                    </ion-col>

                    <ion-col col-12 *ngIf="item.nivel == 'alta'">
                        <div>
                            <img class="iconoLateral" src="assets/static/img/alta.png">
                            <font class="textoPrioridad" size="4">{{item.nivel | uppercase}}</font>
                        </div>
                    </ion-col>

                    <ion-col col-12 *ngIf="item.nivel == 'media'">
                        <div>
                            <img class="iconoLateral" src="assets/static/img/media.png">
                            <font class="textoPrioridad" size="4">{{item.nivel | uppercase}}</font>
                        </div>
                    </ion-col>



                </ion-row>


                <ion-row class="subtitulosColores">
                    <ion-col class="tituloColores tituloNegro" col-4>
                        <div>
                            <font>CATEGORÍA</font>
                        </div>
                    </ion-col>
                    <ion-col class="sinPadding" col-8>
                        <ion-grid>
                            <ion-row>
                                <ion-col class="tituloColores tituloRojo" col-4>
                                    <div>
                                        <font>VENCIDOS</font>
                                    </div>
                                </ion-col>
                                <ion-col class="tituloColores tituloAmarillo" col-4>
                                    <div>
                                        <font>POR VENCER</font>
                                    </div>
                                </ion-col>
                                <ion-col class="tituloColores tituloVerde" col-4>
                                    <div>
                                        <font>ABIERTOS</font>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>

                <ion-row *ngFor="let detail of item.detalle">
                    <ion-col class="categorias" col-4>
                        <font class="textoCategorias">{{detail.categoria}}</font>
                    </ion-col>
                    <ion-col class="datosCategorias" col-8>
                        <ion-grid>
                            <ion-row>
                                <ion-col class="sinPadding" col-4>
                                    <font class="textoDatosCategoria" (click)=" detail.vencidos > 0 ? specificDetail(item.nivel,2,detail) : false">{{detail.vencidos}}</font>
                                </ion-col>
                                <ion-col class="sinPadding" col-4>
                                    <font class="textoDatosCategoria" (click)=" detail.xVencer > 0 ? specificDetail(item.nivel,1,detail) : false">{{detail.xVencer}}</font>
                                </ion-col>
                                <ion-col class="sinPadding" col-4>
                                    <font class="textoDatosCategoria" (click)=" detail.abiertos  > 0 ? specificDetail(item.nivel,3,detail) : false">{{detail.abiertos}}</font>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>

            </div>
        </ion-grid>
    </div>

</ion-content>