
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left >
      <button navPop  class="saliendo">
          <span class="regreso"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></span>
      </button>
    </ion-buttons>

    <ion-buttons right>
            <button ion-button (click)="retorno()"> 
              <img class="iconoUsuarioLista" src="assets/static/img/iconoHome.png"/>
            </button> 
        </ion-buttons>

    <ion-title text-center><span class="tituloPagina">Infraestructura</span></ion-title>
 </ion-navbar>

</ion-header>



<ion-content class="fondoOscuro" padding>
  <ion-list>
    <ion-item-group class="fullCard">
      <div class="blackCard contenedorGrid2">
        <ion-grid>
          <ion-row class="blueTitle">
            <ion-col col-5>
              <div>
                <font class="tablaTitulo">Tipo Dispositivo</font>
              </div>  
            </ion-col>
            <ion-col col-7 class="noPaddingVertical">
              <ion-row>
                <ion-col col-6 class="blueTotal">
                  <div>
                    <font class="tablaTitulo">
                      Total
                    </font>
                  </div>
                </ion-col>
                <ion-col col-6 class="blueAfectados">
                  <div>
                    <font class="tablaTitulo">
                      Afectados
                    </font>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row class="resultadoTabla" *ngFor="let item of items">
            <ion-col col-5 class="listaDispositivos">
              <div>
                <font>
                  {{item.descripcion}}
                </font>
              </div>  
            </ion-col>
            <ion-col col-7 class="noPaddingVertical">
              <ion-row>
                <ion-col col-6 class="grisTotal" (click)="item.totalEquipos > 0 ? seleccionInfra(item,1) : false">
                  <div>
                    <font>
                      {{item.totalEquipos}}
                    </font>
                  </div>
                </ion-col>
                <ion-col col-6 class="grisAfectados" (click)="item.totalAlarmas > 0 ? seleccionInfra(item,2) : false">
                  <div *ngIf="item.totalAlarmas == 0" >
                    <font>
                      {{item.totalAlarmas}}
                    </font>
                  </div>
                  <div *ngIf="item.totalAlarmas > 0" >
                    <font class="rojo">
                      {{item.totalAlarmas}}
                    </font>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item-group>
  </ion-list>

</ion-content>
  
  