page-view-aviso-legal {

}

.app-font-25 ion-label{
  white-space: inherit;
  font-size: 25px;
}

.alignright {
	float: right;
}

.fondoApp{
    background-color: #252525;
}

.fullCard{
  margin-right:-32px;
}

.list-md .item-block .item-inner {
    border-bottom: 0px !important;
}

.claseDevice{
    font-weight: bold;
}

.totalEquipos{
    text-align: right;
    margin-right: -25px;
}

.dato{
    font-weight: bold;
}

ion-header {
  .toolbar {

    .toolbar-background {
      background: transparent;
    }
    .toolbar-title {
      color: black;
    }
  }
}

.title{
  padding-right: 15%;
}


.buttonMenu {
  color: #ffffff;
  background-color: transparent;

}
.font-red{
  color:#d0011b;
}
.font-green{
  color:#7ed222;
}

.rojo{
  color:#FF0000;
}
.orange{
  color: #e97021;
}
.yellow{
  color: #f0a818;
}
.blackCard{
}
