
<ion-header>

  <ion-navbar hideBackButton>
      <ion-buttons left>
          <button navPop class="saliendo">
              <span class="regreso">
                  <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
              </span>
          </button>
      </ion-buttons>

      <ion-title text-center>
        <span  *ngIf="area == 'F'" class="tituloPagina">
          FRONT OFFICE
        </span>
        <span  *ngIf="area == 'B'" class="tituloPagina">
          BACK OFFICE
        </span>
      </ion-title>

      
      <ion-buttons right>
          <button ion-button (click)="retorno()">
              <img class="iconoUsuarioLista" src="assets/static/img/iconoHome.png"/>
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="fondoOscuro font-white" padding>


  <ion-row class="panelTituloInferiorNoMargen" text-center>
    <ion-col col-12 *ngIf="prioridad == 'crítica'">
      <div>
        <img class="iconoLateral" src="assets/static/img/critica.png">
        <font class="textoPrioridad" size="4">{{prioridad | uppercase}}</font>
      </div>
    </ion-col>

    <ion-col col-12 *ngIf="prioridad == 'alta'">
      <div>
        <img class="iconoLateral" src="assets/static/img/alta.png">
        <font class="textoPrioridad" size="4">{{prioridad | uppercase}}</font>
      </div>
    </ion-col>

    <ion-col col-12 *ngIf="prioridad == 'media'">
      <div>
        <img class="iconoLateral" src="assets/static/img/media.png">
        <font class="textoPrioridad" size="4">{{prioridad | uppercase}}</font>
      </div>
    </ion-col>



  </ion-row>

  <ion-row *ngIf="estado == 2" class="tituloRojo font-white negrita">
    <ion-col col-6>
      {{categoria | uppercase}} {{status}}
    </ion-col>
    <ion-col col-6 text-right>
      TOTAL: {{total}}
    </ion-col>
  </ion-row>

  <ion-row *ngIf="estado == 1" class="tituloAmarillo font-white negrita">
    <ion-col col-6>
      {{categoria | uppercase}} {{status}}
    </ion-col>
    <ion-col col-6 text-right>
      TOTAL: {{total}}
    </ion-col>
  </ion-row>

  <ion-row *ngIf="estado == 3" class="tituloVerde font-white negrita">
    <ion-col col-6>
      {{categoria | uppercase}} {{status}}
    </ion-col>
    <ion-col col-6 text-right>
      TOTAL: {{total}}
    </ion-col>
  </ion-row>



  <ion-list no-lines *ngFor="let item of items">
    <ion-item class="darkCard font-white">
      <div>
        <ion-row>
          <ion-col col-4 text-left>
            <ion-row>
              <font class="ticketLabel">Ticket</font>
            </ion-row>
            <ion-row>
              <font class="ticketDato">{{item.idTicket}}</font>
            </ion-row>
            

          </ion-col>
          <ion-col col-8>
            <ion-row>
              <font class="ticketLabel">Abierto</font>
            </ion-row>
            <ion-row>
              <font class="abiertoDato">{{item.fechaApertura}}</font>
            </ion-row>


          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 text-center>
            <font>Categoria: </font>
            <font class="categoriaDato">{{categoria}}</font>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 text-center>
            <font>Resumen</font>

          </ion-col>
          <ion-col col-12>
            <h6 text-wrap>
              {{item.resumen}}
            </h6>
          </ion-col>

        </ion-row>


      </div>

    </ion-item>
  </ion-list>
</ion-content>