.contenedorItems{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
//    background: transparent !important;
//    background-image: url("assets/static/img/fondoClaro.jpg") !important;
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

ion-app.md {
    background-color: rgba(255,255,255,0) !important;
}

.item-md{
    background-color: rgba(255,255,255,0) !important;
}

.logo{
    background: transparent !important;
    margin:60px 0px;
    width:247px;
    height:104px;
}

.buttonLogin{
   color: #F5E2E6;
   background-color: #B00732;
    border: 1px solid #B80B1A;
    border-radius: 8px;
    width: 50% !important;
    margin: 15px 25% !important;
    text-transform: none !important;
}

.buttonLogin:hover{
    background-color: #960e35 !important;
}

.inputLogin{
    border: 1px solid #A6A6A6 !important;
    border-radius: 8px !important;
    padding: 0px 0px 0px 10px !important;
    width: 60% !important;
    margin: 15px 20% !important;
    height: 40px !important;

}
