

<ion-content class="contenedorItems">
 
  <ion-list>
    
      <form (ngSubmit)="acceso()" #registerForm="ngForm">

        <ion-item class="contieneLogo">
          <div text-center>
              <ion-img class="logo" src="assets/static/img/logo.png"></ion-img>
            </div>
      </ion-item>

        <ion-item class="objetoUsuario inputLogin">
            <ion-input type="text" placeholder="Usuario" name="usuario" [(ngModel)]="credencialesRegistro.usuario" required></ion-input>
             <ion-icon class="iconoCampo" name="ios-contact-outline" item-left ></ion-icon>
          </ion-item>
    
     
          <ion-item class="objetoUsuario inputLogin">
              <ion-input type="password" placeholder="Contraseña" name="contrasenia" [(ngModel)]="credencialesRegistro.contrasenia" required></ion-input>
              <ion-icon name="ios-lock-outline" item-left ></ion-icon>
            </ion-item>

    
    
    

    <div padding>
        <button ion-button class="buttonLogin" full type="submit" [disabled]="!registerForm.form.valid">Ingresar</button>
      </div>



<ion-item class="contieneLogo">
          <div class="tieneLogo" text-center>
            <ion-row><font class="poweredText">Powered by</font></ion-row>
            
              <ion-img class="logoTotal" src="assets/static/img/logoTotal.png"></ion-img>
            </div>
      </ion-item>


  </form>

</ion-list>
</ion-content>