<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left >
      <button navPop  class="saliendo">
          <span class="regreso"><</span>
      </button>
    </ion-buttons>

    <ion-title text-center class="tituloPagina">{{opcionSeleccionada.nombre}}</ion-title>
 </ion-navbar>

</ion-header>


<ion-content class="fondoOscuro" padding>






  <ion-grid  (click)=seleccion(item) >
    <div class="blackCardTickets">

      <ion-row class="panelResumenSuperior">
        <ion-col col-3>
          <div class="rowSemaforoBig rowVencidosBig">
            Vencidos
          </div>
          <div class="rowSemaforoBig rowPorVencerBig">
            Por Vencer
          </div>
          <div class="rowSemaforoBig rowAbiertosBig">
            Abiertos
          </div>
        </ion-col>
        <ion-col col-2 text-center>
          <div class="rowSemaforoBig">
            {{opcionSeleccionada.totalVencidos}}
          </div>
          <div class="rowSemaforoBig">
            {{opcionSeleccionada.totalXVencer}}
          </div>
          <div class="rowSemaforoBig">
            {{opcionSeleccionada.totalAbiertos}}
          </div>
        </ion-col>
        <ion-col col-7>
          <div id="grafica" style="height: 140px; margin-bottom: 0px"></div>
        </ion-col>
      </ion-row>

      <ion-row class="panelTituloInferior">
          <ion-col col-2>
              <label></label>
          </ion-col>

          <ion-col col-10>
            <ion-grid>
                <ion-row>

            <ion-col col-4 text-center>
              <img class="iconoSmall"  src="assets/static/img/critica.png">
                <label>CRÍTICA</label>
            </ion-col>
            <ion-col col-4 text-center>
              <img class="iconoSmall" src="assets/static/img/alta.png">
                <label>ALTA</label>
            </ion-col>
           <ion-col col-4 text-center>
            <img class="iconoSmall" src="assets/static/img/media.png">
                <label>MEDIA</label>
            </ion-col>

          </ion-row>
        </ion-grid>
          </ion-col>



      </ion-row>
      <ion-row class="panelDatos">
        <ion-col class="panelSemaforo" col-2>
          <div class="rowVencidos">

          </div>
          <div class="rowPorVencer">

          </div>
          <div class="rowAbiertos">

          </div>
        </ion-col>
        <ion-col col-10>
          <ion-grid>
             <ion-row>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.critica.vencidos}}</label>
                 </ion-col>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.alta.vencidos}}</label>
                 </ion-col>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.media.vencidos}}</label>
                 </ion-col>
             </ion-row>
             <ion-row>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.critica.xVencer}}</label>
                 </ion-col>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.alta.xVencer}}</label>
                 </ion-col>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.media.xVencer}}</label>
                 </ion-col>
             </ion-row>
             <ion-row>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.critica.abiertos}}</label>
                 </ion-col>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.alta.abiertos}}</label>
                 </ion-col>
                 <ion-col col-4 text-center>
                     <label>{{opcionSeleccionada.arrayTotales.media.abiertos}}</label>
                 </ion-col>
             </ion-row>
           </ion-grid>
        </ion-col>
      </ion-row>

    </div>

    </ion-grid>
<div class="fechaActualizacion">Fecha de actualización: {{f.getDate()}} de {{mes[f.getMonth()]}} {{f.getFullYear()}}</div>

</ion-content>
