.getstart {

  background-image: url('../assets/static/img/background/fondoClaro.jpg');
  // background: url('../../img/getstart.png');
  background-repeat: no-repeat;
  background-size:cover;
  }
  .login {

    background-color: #b00732
    }

    $segment-button-md-height:55px;


.blackCardTickets{
	background-color: rgba(46,46,46,0.45);
    border-radius: 5px;
    border:1px solid #4b4b4b;
    color:#ffffff  !important;
    text-align:center !important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:10px;
}

.panelResumenSuperior{
	background-color:#000;
	background: linear-gradient(to bottom, #2c2c2c 0%,#010101 100%);
	margin-left:10px;
	margin-right:10px;
	height:120px;
	border-radius:5px;
}

.panelDatos{
	background-color:#000;
	background: linear-gradient(to bottom, #2c2c2c 0%,#010101 100%);
	margin-left:10px;
	margin-right:10px;
	height:75px;
}

.panelSemaforo{
	height:75px;
	margin-top:-10px;
}

.rowVencidos{
	background-color:#c5111a;
	height:25px;
	margin-left:-4px;
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.rowPorVencer{
	background-color:#ef9525;
	height:25px;
	margin-left:-4px;
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.rowAbiertos{
	background-color:#6ac925;
	height:25px;
	margin-left:-4px;
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.rowSemaforoBig{
	height:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:-4px;
	box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.rowVencidosBig{
	background-color:#c5111a;
	border-top-left-radius: 5px;
}

.rowPorVencerBig{
	background-color:#ef9525;
}

.rowAbiertosBig{
	background-color:#6ac925;
	border-bottom-left-radius: 5px;
}

.iconoSmall{
	width:12px;
	margin-right:3px;
}

.fechaActualizacion {
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: #fff !important;
}
