


<ion-menu [content]="contenido">
    <ion-header>
        <ion-toolbar>
                <div class="profile">
                        <img class="profile-picture" src="assets/icon/favicon.ico" />
                    </div>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            
                      
            <button *ngIf="typeUser == 2001" ion-item menuClose (click)="irAPagina(ams)">  <img  width="20" height="20" src="assets/icon/favicon.ico" menu-toggle="left"/> Usuarios</button>
            <!--<button *ngIf="typeUser == 2001" ion-item menuClose (click)="irAPagina(log)">  <img  width="20" height="20"  src="../../assets/icon/favicon.ico" menu-toggle="left"/> Logotipo</button>-->
            <button ion-item menuClose (click)="irAPagina(avs)">  <img  width="20" height="20" src="assets/icon/favicon.ico" menu-toggle="left"/> Aviso Legal</button>
            <button ion-item menuClose (click)="cerrarSesion()">  <img  width="20" height="20"  src="assets/icon/favicon.ico" menu-toggle="left"/> Cerrar Sesión</button>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #contenido></ion-nav>

