<ion-header>

    <ion-navbar hideBackButton>

  
      <ion-buttons right>
          <button class="botonCerrar" ion-button outline navPop>
              <span><ion-icon ios="ios-close" md="md-close"></ion-icon></span>
          </button>
          </ion-buttons>
  
      <ion-title text-center><span class="tituloPagina"> Alarmas en {{alarma}}</span></ion-title>
   </ion-navbar>
  
  </ion-header>


<ion-content class="fondoOscuro" color='back'>

    <ion-searchbar placeholder="Buscar" class="barraBusqueda" [(ngModel)]="searchTerm" (ionInput)="searchItems()"></ion-searchbar>
 
  <ion-list class="listaAlarmas">
    <ion-item-group class="contenedorAppModule2">
      <ion-item class="modulo2" *ngFor="let item of listaAlarmas">
        <div class="alarma">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <div class="fecha"><font>{{item.fecha}}</font></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <div class="idDevice"><font>{{item.idAlarma}}</font></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <div class="labelFalla"><font>FALLA:</font></div>
                  <div class="falla"><font>{{item.falla}}</font></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>
           
      
    </ion-item-group>    
  </ion-list>
  <ion-card text-center class="vacio">        
    <ion-card-content>
        <ion-row>
          <ion-col col-12> 
            {{vacio}}
          </ion-col></ion-row>
    </ion-card-content> 
  </ion-card>
</ion-content>
