.alignright {
	float: right;
}
.alignleft {
	float: left;
}

.listaAlarmas{
    margin-top: 20px;
}

.alarma{
    height:110px;
    color:#ffffff  !important;
    text-align:center !important;
    background: linear-gradient(to bottom, #212121 0%,#1d1d1d 100%);
}

.fecha{
    width: calc(100% + 20px);
    margin: -10px 0px 0px -10px;
    background-color: rgba(0,0,0,0);
    padding: 5px 10px;
    text-align: right;
    font-size: 14pt;
    color: #bbb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.idDevice{
    text-align: left;
    font-size: 15pt;
}

.labelFalla{
    text-align: left;
    width: 50px;
    color: #bbb;
    font-size: 13pt;
    float:left;
    margin-right: 10px;
}

.falla{
    width: calc(100% -60px);
    text-align: left;
    color: #ff0000;
    font-weight:600;
}
.vacio{
    background: none;
    color: white;
    margin-top: 50%;
}
