page-view-aviso-legal {

}

.app-font-25 ion-label{
  white-space: inherit;
  font-size: 25px;
}

.alignright {
	float: right;
}

.fondoApp{
    background-color: #252525;
}

.list-md .item-block .item-inner {
    border-bottom: 0px !important;
}

.claseDevice{
    font-weight: bold;
}

.totalEquipos{
    text-align: right;
    margin-right: -25px;
}



ion-header {
  .toolbar {

    .toolbar-background {
      background: transparent;
    }
    .toolbar-title {
      color: black;
    }
  }
}

.title{
  padding-right: 15%;
}


.buttonMenu {
  color: #ffffff;
  background-color: transparent;

}
