

<ion-header>

  <ion-navbar>



    <ion-buttons left >
      <button (click)="saliendo()"  class="saliendo">
          <span class="regreso"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></span>
      </button>
    </ion-buttons>


    <ion-title text-center class="tituloPagina">
      <span class="tituloPagina">Salud de la Red</span>
    </ion-title>

    <ion-buttons right>
        <button ion-button (click)="saliendo()"> 
            <img class="iconoUsuarioLista" src="assets/static/img/iconoHome.png"/>
        </button> 
    </ion-buttons>


  </ion-navbar>

</ion-header>


<ion-content class="fondoOscuro" padding>
  <ion-list class="listaCard"> 
    <ion-item-group class="contenedorAppModule">
    <ion-item no-lines class="modulo" *ngFor="let item of items" >
        <div class="blackCard">
            <ion-grid>

                <ion-row >
                  <ion-col col-1>
                    <div>
                        <ion-icon *ngIf="item.nombre == 'ROUTERS'" name="help-buoy"></ion-icon>
                        <ion-icon *ngIf="item.nombre == 'SWITCHES'" name="barcode"></ion-icon>
                        <ion-icon *ngIf="item.nombre == 'COLECTORES'" name="desktop"></ion-icon>
                        <ion-icon *ngIf="item.nombre == 'OLTS'" name="apps"></ion-icon>
                    </div>
                  </ion-col>
                  <ion-col col-4>
                    <div>
                      <h4 class="claseDevice">{{item.nombre}}</h4>
                    </div>
                  </ion-col>
                  <ion-col col-6>
                    <div>
                      <h5 class="subEquipos">Equipos: <span class="totalEquipos">{{item.total}}</span></h5>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row text-center>
                  <ion-col col-4>
                    <div>
                      <font class="labelAlarma">Down</font></div>
                    <div *ngIf="item.down == 0"  style="color: #7ED321;">
                    <font class="dato">{{item.down}}</font>
                  </div>
                    <div *ngIf="item.down > 0"  (click)="selectItem(item,'D')" style="color: #FF0000;">
                      <font class="dato">{{item.down}}</font>
                    </div>
                  </ion-col>
                  <ion-col col-4>
                      <div>
                        <font class="labelAlarma">Falla Gestión</font>
                      </div>
                      <div *ngIf="item.fallaGestion == 0"  style="color: #7ED321;">
                        <font class="dato">{{item.fallaGestion}}</font>
                      </div>
                      <div *ngIf="item.fallaGestion > 0"  (click)="selectItem(item,'G')"  style="color: #FF0000;">
                        <font class="dato">{{item.fallaGestion}}</font>
                      </div>
                  </ion-col>
                  <ion-col col-4>
                      <div>
                        <font class="labelAlarma">Falla Óptica</font>
                      </div>
                      <div *ngIf="item.fallaOptica == 0"  style="color: #7ED321;">
                        <font class="dato">{{item.fallaOptica}}</font>
                      </div>
                      <div *ngIf="item.fallaOptica > 0"   (click)="selectItem(item,'O')" style="color: #FF0000;">
                        <font class="dato">{{item.fallaOptica}}</font>
                      </div>
                  </ion-col>
                </ion-row>

              </ion-grid>
        </div>

    </ion-item>

  </ion-item-group>

</ion-list>


</ion-content>
