<ion-header>

    <ion-navbar>

      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>Informes</ion-title>

      <ion-buttons right>
            <button ion-button (click)="editar()">
                    {{textEditar}}
            </button>
        </ion-buttons>
    </ion-navbar>

  </ion-header>

<ion-content padding>




    <ion-list>
        <ion-list-header>
          <ion-grid>

               <ion-row>
                   <ion-col>
                    <p>Cliente: Music TV</p>

                  </ion-col>
                   <ion-col><ion-img width="40" height="40" src="../../assets/static/img/logo.png"></ion-img></ion-col>
               </ion-row>
           </ion-grid>


        </ion-list-header>
        <ion-item-group reorder={{reorder}} (ionItemReorder)="reorderItems($event)">

        <ion-item *ngFor="let item of items">
            <div style='color:#ffffff !important; height: 30px; text-align:center !important; font-weight:bold; background-color:#0e4560 !important;'>
                {{item.title}}

                <div  *ngIf=reorder class="pull-right">

                        <!--<a class = "btn btn-success" style="margin-top: 1%;">X</a>-->
                        <button style="margin-top: 0%;" ion-button color="danger">Eliminar</button>

                </div>



              </div>

            <div id="{{item.id}}" style="display: block;"	></div>
        </ion-item>








      </ion-item-group>

   </ion-list>


</ion-content>
