<!--
  Generated template for the ViewLogotipoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Logotipo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card-content class="item item-text-wrap">
      <h5>
        <p>Seleccione el logotipo de su organizacion 
          desde su galeria de fotografia. 
          Es necesario que permita el acceso por 
          parte de la aplicacion a su galeria de fotos.</p>
      </h5>
        </ion-card-content>
        <button ion-button color="primary" (click)="accesoGaleria()">Open Gallery</button>
        <img [src]="base64Image" *ngIf="base64Image" />
        <ion-grid>
            <ion-row text-center>
              <ion-col><button ion-button color="danger" (click)=actualizar()>
                    Aceptar
                </button></ion-col>
              <ion-col><button ion-button color="danger" (click)=cancelar()>
                    Cancelar
                </button></ion-col>
            </ion-row>
          </ion-grid>

</ion-content>
