<ion-header>
</ion-header>
  <ion-content padding>
        <div class="text-center">
           
            <h5 style="text-align: center;">Alta Incidente</h5>
            <ion-item>
                <ion-input (click)=seleccionSolicitante() [(ngModel)]="solicitante" placeholder=""></ion-input>
         
            </ion-item>

            <ion-item>
                <ion-label color="primary" (click)=seleccionCategoria() >Seleccione la categoría</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="primary" (click)=seleccionSubCategoria() >Seleccione la sub-categoría</ion-label>
            </ion-item>

            <ion-item>
                <ion-label color="primary" (click)=seleccionFallas() >Seleccione fallas incidentes</ion-label>
            </ion-item>

            <ion-item>
                <ion-textarea rows="10" maxLength="500" [(ngModel)]="descripcion" required placeholder="Describa el problema"></ion-textarea>
            </ion-item>
        </div>
        <div>
            <ion-grid>
                <ion-row text-center>
                    <ion-col>
                        <button ion-button color="danger" (click)=alta()>
                            Actualizar
                        </button>
                    </ion-col>
                    <ion-col>
                        <button ion-button color="danger" (click)=cancelar()>
                            Cancelar
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>  
   </ion-content>