.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.no-padding {
    padding: 0px !important;
}
.highcharts-credits {
  font-size: 9px
}

.hideChart{

  margin-top: -32px;
  background-color :white
}


.hideChartBack{
  background-color : #181818;
}

.buttonAlarma{
    background-color : #0E0E0E;
    color: #B80B1A;
    border: 1px solid #B80B1A;
    border-radius: 5px;
    width: 80%;
    height: 30px;
}

.graficaMedia{
    width: 220px;
    margin-left: 20%;
}

ion-col {
	&[width-20] {
	flex: 0 0 20%;
	max-width: 20%;
	}

	&[width-40] {
	flex: 0 0 40%;
	max-width: 40%;
	}
  }
  .saliendo{
    background: none;
  }
  .tituloLight{
    color: black !important;
  }

  .ios, .md {

    page-home {

        button {
            align-items: baseline;
        }

    }

}
.blackCard{
  background-color:  #252525;
  border-radius: 5px;
}
.red{
  background-color: #680003;
}
.white{
  background-color:#f0f0f0
}
.gray{
  background-color: #f3f3f3;
}
.label-md{
  margin:0px;
}
.font-gray{
  color:#6a6a6a;
}
.font-red{
  color:#a51e2f;
}
.font-white{
  color:#ffffff;
}
.font-blue{
  color:#52B7D5;
}
.font-black{
  color:#252525;
}
.list-md{
  margin: 0px;
}
.alarmas_list {
  //height: 100px;
  margin:30px auto;
  
}

.textSpaces { white-space: wrap !important; }

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.barraBusqueda{
	width:80% !important;
	margin:20px 10% !important;
}
