
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons left >
      <button navPop  class="saliendo">
          <span class="regreso"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></span>
      </button>
    </ion-buttons>

    <ion-buttons right>
            <button ion-button (click)="retorno()"> 
              <img class="iconoUsuarioLista" src="assets/static/img/iconoHome.png"/>
            </button> 
        </ion-buttons>

    <ion-title text-center><span class="tituloPagina"> {{parametro.descripcion}}</span></ion-title>
 </ion-navbar>

</ion-header>
<ion-content class="fondoOscuro" padding>
  <ion-searchbar placeholder="Buscar" class="barraBusqueda" [(ngModel)]="searchTerm" (ionInput)="searchItems()"></ion-searchbar>
  <ion-list class="alarmas_list" *ngFor="let item of items">
    <ion-item class="blackCard botonSinBorde colocadorInfraestructura" detail-none (tap)="prevetSubmit($event)">

      <div *ngIf="!item.alarma">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <div class="idDevice"><font>{{item.nombre}}</font></div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                  
                    <div class="fecha"><font>IP: {{item.ip}}</font></div>
                </ion-col>
              </ion-row>
          </ion-grid>
        </div>

      <div class="contieneAlarma" *ngIf="item.alarma" (click)="expandItem(item)">
          <ion-row>
              <ion-col col-12>
                <div class="idDevice"><font>{{item.nombre}}</font></div>
              </ion-col>
            </ion-row>
        <ion-row class="panelAcordeon">
          <ion-col class="fechaAcordeon" col-8>
            <h3>
              Fecha de Alarma
            </h3>
            <h2 [ngStyle]="{'color': item.color}">
              {{item.fechaAlarma}}
            </h2>
          </ion-col>
          <ion-col class="fechaAcordeon" col-4>
            <h3>
              Ticket
            </h3>
            <h3>
              {{item.ticket}}
            </h3>
          </ion-col>
        </ion-row>
      </div>
      <!--expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded"-->
      <expandable [expanded]="item.expanded" *ngIf="item.alarma">
        <ion-row class="expandible" (click)="expandItem(item)">
          <ion-col col-2>
            <h4 class="greyLabel">
              Alarma:
            </h4>
          </ion-col>
          <ion-col col-10 text-left text-wrap>
            <p  [ngStyle]="{'color': item.color}">
              {{item.tituloAlarma}}
            </p>
          </ion-col>
        </ion-row>

      </expandable>
    </ion-item>
  </ion-list>
</ion-content>
