<!--
  Generated template for the ViewAvisoLegalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons star>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
      
          <ion-title text-center>Aviso Legal</ion-title>

    </ion-toolbar>
  </ion-header>


<ion-content padding>
    <ion-card-content class="item item-text-wrap">
        
          <p>"Total Play Telecomunicaciones, S.A. de C.V., en adelante "TOTALPLAY". Todos los derechos reservados.
            La totalidad de la información contenida en este portal y sus descargas, se debe considerar como secreto comercial o industrial. Dicha información por su carácter de propiedad industrial o intelectual, financiero o cualquier índole esta clasificada como confidencial y se prohíbe la divulgación a terceras personas y/o utilizar para provecho propio. Para propósitos distintos a los indicados. Se requiere previamente un permiso y consentimiento escrito de "TOTALPLAY"."
              
              </p>
              <!--
              <button ion-button color="danger" (click)=regresar()>
                  Aceptar
              </button>
            -->
          </ion-card-content>


</ion-content>
