<ion-header>
  
  
</ion-header>


<ion-content class="fondoOscuro" padding>
        <div class="text-center">
                <h5 class="tituloPanelUsuario">Alta de Usuario</h5>
                <ion-item no-lines class="campoUsuario">
                    <ion-input class="editaUsuario"  type="text" name="usuarioLogin" placeholder="Identificador de Usuario" [(ngModel)]="usuarioLogin" required></ion-input>
                </ion-item>
                <ion-item no-lines class="campoUsuario">
                    <ion-input class="editaUsuario"  type="text" name="nombreUsuario" placeholder="Nombre de Usuario" [(ngModel)]="nombreUsuario" required></ion-input>
                </ion-item>
                <ion-item no-lines class="campoUsuario">
                    <ion-input class="editaUsuario"  type="text" name="apellidoUsuario" placeholder="Apellido de Usuario" [(ngModel)]="apellidoUsuario" required></ion-input>
                </ion-item>
               
                <ion-item no-lines class="campoUsuario">
                    <ion-label class="etiquetaPanelUsuario" floating>Password</ion-label>
                    <ion-input class="editaUsuario"  [type]="passwordType"  [(ngModel)]="contraseniaUsuario"  clearOnEdit="false"></ion-input>
                    <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                </ion-item>
                
        </div>
        
      
        <div>
                <ion-grid>
                        <ion-row text-center>
                          <ion-col><button class="botonGenerar" ion-button (click)=alta()>
                                Registrar
                            </button></ion-col>
                          <ion-col><button class="botonCancelar" ion-button (click)=cancelar()>
                                Cancelar
                            </button></ion-col>
                        </ion-row>
                      </ion-grid>

            
            
        </div>  
   </ion-content>